#logo{
    display: block;
    /* border: 1px solid red; */
    height: 10%;
    width: 10%;
    margin: auto;
    margin-bottom: 30px;
}
#upper{
  
    height: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
select{
    border: 0px;
    font-size: 16px;
}
#bag{
    display: block;
    height: 25px;
    width: 25px;
    margin: auto;
    margin-right: -60px;
    margin-top: -27px;
  
}
#heart{
    display: block;
    height: 25px;
    width: 25px;
    margin: auto;
    margin-right: -30px;
    margin-top: -40px;

}
#nav2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 65%;
    
    margin: auto;
    font-size: 15px;
    color: grey;
}
#nav2>div:last-child>img{
   
    display: block;
    height: 18px ;
    width: 18px;
}
#ad{
    display: block;
    /* border: 1px solid red; */
    width: 75%;
    margin: auto;
    margin-top: 10px;
   
}
#ins{
    display: block;
    margin: auto;
}
#sale{
    width: 75%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    font-weight: bolder;
    font-size: 22px;
    font-family: sans-serif;
    margin: auto;
    margin-top: 30px;
   

}
#sorting{
    width: 10%;
    /* height: 600px;
    border: 1px solid red; */
    margin-left: 185px;
    display: flex;
    flex-direction: column;
}
#sorting>a{
    margin-top:10px ;
    font-size: 12px;
    text-decoration: none;
    color: rgb(0,1,1);
    font-family: sans-serif;

}
#sorting>a:hover{
    text-decoration: underline;
}
#sorting+h3{
    font-family: sans-serif;
    margin: auto;
    margin-top: -390px;
    text-align: center;
    margin-left: 60px;
}
body{
    background-color: rgb(254,254,255);
}
#product{
    width: 60%;
    height: 290px;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 20px;
   margin-right:200px;
   display: flex;
   justify-content: space-between;
   gap: 5px;
}
#product>div{
    width: 13.4%;
    /* border: 1px solid green; */
}
#product>div>img{
    display: block;
    width: 100%;
    height: 70%;
}
#product>div>img+p{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
#product>div>img+p+p{
    font-family: sans-serif;
    font-size: 12px;
    margin: auto;
    margin-top: -12px;
   
   text-align: center;
}
#product>div>img+p+p+p{
    font-family: sans-serif;
    font-size: 12px;
    color: rgb(157,159,179);
    margin-top: 2px;
    margin-left: 20px;
    text-decoration: line-through;
}
#product>div>img+p+p+p+p{
    font-family: sans-serif;
    margin-left: 63px;
    font-size: 12px;
    color: rgb(227,145,61);
    font-weight: bold;
    margin-top: -26px;
}
#btn2{
    padding: 2px;
    width: 40px;
    height: 40px;
    margin-top: 80px;
    margin-left: -20px;
    border-radius: 40px;
    background-color: rgb(239,75,27);
    font-weight: bolder;
    color: white;
    font-size: 20px;
    border: 0px;
}
#btn1{
    padding: 2px;
    width: 40px;
    height: 40px;
    margin-top: 80px;
   margin-right: -25px;
    border-radius: 40px;
    background-color: rgb(239,75,27);
    font-weight: bolder;
    color: white;
    font-size: 20px;
    border: 0px;
    
    z-index: 5;
}
a{
    text-decoration: none;
    color: black;
}
#nav3{
    width: 30%;
    height: 20px;
    /* border: 1px solid red; */
    margin: auto;
    margin-left: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav3>div{
    /* border: 1px solid green; */
    height: 80%;
    width: 23%;
    font-size: 14px;
    font-weight: bold;
}
#nav3>div>select{
    color:rgb(56,57,74);
    font-size: 12px;
    font-weight: bold;
}
#sort{
    width: 10%;
    /* border: 1px solid green; */
    height: 30px;
    margin: auto;
    margin-left: 1130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -24px;
}
#sort>div{
    font-size: 14px;
    font-weight: bold;
}
#sort>div>select{
    color:rgb(56,57,74);
    font-size: 12px;
    font-weight: bold;
}
 #product2{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,400px);
    width: 60%;
    gap: 10px;
    margin-top: 20px;
    margin-left: 390px;
}
  

#product2>div>img{
    display: block;
    width: 100%;
    height: 80%;
}
#product2>div>img+p{
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
}
#product2>div>img+p+p{
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
    color: rgb(56,56,67);
    margin-top: -7px;
   
}
#product2>div>img+p+p+p{
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: -6px;
    
   
   
}
#page{
    width: 6%;
    height: 30px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-family: sans-serif;
    margin: auto;
    margin-left: 380px;
}
#pageno{
    width: 12%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-family: sans-serif;
    margin: auto;
    margin-top: -30px;
    margin-left: 1110px;
}
#bottom{
    width: 60%;
    /* border: 1px solid red; */
    height: 170px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
#bottom>div{
    /* border: 1px solid green; */
    width: 18%;
    height: 100%;
    text-align: left;
    
}
#bottom>div>p{
    text-align: center;
    font-weight: 900;
    font-size: 11px;
    letter-spacing: .5px;
    font-family: sans-serif;
    text-align: left;

}
#bottom>div>p+p{
    text-align: center;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: .15px;
    text-align: left;
}
#info{
    margin: auto;
    margin-top: 58px;
    /* border: 1px solid red; */
    width: 60%;
    text-align:center ;
    display: flex;
    flex-direction: column;
    
}
#info>div:nth-child(1){
font-weight: 500;
font-size: 14px;
font-family: sans-serif;
color: black;
line-height: 26px;
}
#info>div:nth-child(2){
    font-size: 14px;
    line-height: 26px;
    font-family: sans-serif;
}
#namelogin{
    display: inline-block;
    text-decoration: none;
    margin-top:-15px ;
}



